<footer style="margin-top:5em">
     <div class="wrapper grid3">
 <article class="col-9">
          <!--<a class="twitter" href="#" target="_blank">&nbsp;</a>
          <a class="facebook" href="#" target="_blank">&nbsp;</a>
          <a class="youtube" href="#" target="_blank">&nbsp;</a>-->
 </article>

 <article class="col-9">
       Carretera Irapuato - La Piedad Km 44<br>
       Predio El Derramadero<br>
       Pénjamo, Gto.<br>
       C.P. 36921<br><br>

         <span class="palabras">Teléfono:</span> (469) 692.60.00
 </article>

 <article class="col-9">
 </article>
     </div><!--pie-de-página-->
</footer>

<div class="avisos">
</div><!--avisos-acerca del sitio-contacto-->
