<header>
      <div class="wrapper grid3">
          <article class="col-2">
            <a href="http://uppenjamo.edu.mx">
              <img class="logo" src="http://cd.uppenjamo.edu.mx/imgs/logo_verde.png" alt="Universidad Politécnica de Pénjamo">
            </a>
          </article>
          <article class="col-3">
              <h1 class="titulo">Universidad Politécnica de Pénjamo</h1>
              <h2 class="sub-titulo">COMPETITIVIDAD Y COMPROMISO SOCIAL PARA TRASCENDER</h2>
          </article>
      </div><!-- /institucional-->
      <!--<div id='cssmenu'>
        <app-menu></app-menu>menú-principal
      </div>
      -->
  </header><!-- /encabezado -->
