<div class="wrapper-c1">

 <!-- Contenido -->
 <div class="wrapper conten">
     <article class="formato-contenidos">

     <h2>Información Anual</h2>
 <h4>Transparencia y Difusión de la Información Financiera LGCG</h4>
     <p class="tittle-tra tabtit2">Ingreso</p>

     <div class="wrapper grid3">
        <div class="datagrid" style="width: 70%;">
            <table>
                <thead><tr><th>Documento</th><th>Descarga</th></tr></thead>
                <tbody>
                <tr>
                    <td style="width: 80%;">Iniciativa de Ingresos</td>
                    <td style="width: 20%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 80%;">Información Adicional a la Iniciativa de Ingresos</td>
                    <td style="width: 20%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF"/>
                        <img src="./assets/images/excel.png" title="Archivo Excel" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 80%;">Dictámenes Acuerdo y Actas </td>
                    <td style="width: 20%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 80%;">Ley de Ingresos </td>
                    <td style="width: 20%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 80%;">Calendario de Ingresos</td>
                    <td style="width: 20%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" title="Archivo Excel" />
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
     <p class="tittle-tra tabtit2">Egreso</p>
        <div class="datagrid" style="width: 70%;">
            <table>
                <thead><tr><th>Documento</th><th>Descarga</th></tr></thead>
                <tbody>
                <tr>
                    <td style="width: 80%;">Proyecto de presupuesto de egresos</td>
                    <td style="width: 20%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 80%;">Información Adicional al proyecto de presupuesto de egresos</td>
                    <td style="width: 20%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 80%;">Dictámenes Acuerdo y Actas </td>
                    <td style="width: 20%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 80%;">Presupuesto de Egresos</td>
                    <td style="width: 20%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 80%;">Calendario de Egreso</td>
                    <td style="width: 20%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
      <tr>
                    <td style="width: 80%;">Presupuesto Ciudadano</td>
                    <td style="width: 20%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" title="Archivo PDF" />
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

  </div>
  <h2>Información Trimestral</h2>
  <div class="wrapper grid3">
     <p class="tittle-tra tabtit2">Información contable</p>
     <div class="datagrid" style="width: 90%;">
         <table>
             <thead><tr><th>Documento</th><th>1er. Trim.</th><th>2do. Trim.</th><th>3er. Trim.</th><th>4to. Trim.</th></tr></thead>
             <tbody>
             <tr>
                 <td style="width: 60%;">Estado de Actividades/Resultados</td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/03. Marzo/EA-GTO-UPP-1T-13.pdf.pdf" download="EA-GTO-UPP-1T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/03. Marzo/EA-GTO-UPP-1T-13.xml.xlsx" download="EA-GTO-UPP-1T-13.xml.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/06. Junio/EA-GTO-UPP-2T-13.pdf.pdf" download="EA-GTO-UPP-2T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/06. Junio/EA-GTO-UPP-2T-13.xml.xlsx" download="EA-GTO-UPP-2T-13.xml.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/09. Septiembre/EA-GTO-UPP-3T-13.pdf.pdf" download="EA-GTO-UPP-3T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/09. Septiembre/EA-GTO-UPP-3T-13.xml.xlsx" download="EA-GTO-UPP-3T-13.xml.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/12. Diciembre/EA-GTO-UPP-4T-13.pdf.pdf" download="EA-GTO-UPP-4T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/12. Diciembre/EA-GTO-UPP-4T-13.xml.xlsx" download="EA-GTO-UPP-4T-13.xml.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
             </tr>
             <tr>
                 <td style="width: 60%;">Estado de situación financiera</td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/03. Marzo/ESF-GTO-UPP-1T-13.pdf.pdf" download="ESF-GTO-UPP-1T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/03. Marzo/ESF-GTO-UPP-1T-13.xml.xlsx" download="ESF-GTO-UPP-1T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/06. Junio/ESF-GTO-UPP-2T-13.pdf.pdf" download="ESF-GTO-UPP-2T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/06. Junio/ESF-GTO-UPP-2T-13.xml.xlsx" download="ESF-GTO-UPP-2T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/09. Septiembre/ESF-GTO-UPP-3T-13.pdf.pdf" download="ESF-GTO-UPP-3T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/09. Septiembre/ESF-GTO-UPP-3T-13.xml.xlsx" download="ESF-GTO-UPP-3T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/12. Diciembre/ESF-GTO-UPP-4T-13.pdf.pdf" download="ESF-GTO-UPP-4T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/12. Diciembre/ESF-GTO-UPP-4T-13.xml.xlsx" download="ESF-GTO-UPP-4T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
             </tr>
             <tr>
                 <td style="width: 60%;">Estado de variación en la hacienda pública</td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/03. Marzo/EVHP-GTO-UPP-1T-13.pdf.pdf" download="EVHP-GTO-UPP-1T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/03. Marzo/EVHP-GTO-UPP-1T-13.xml.xlsx" download="EVHP-GTO-UPP-1T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/06. Junio/EVHP-GTO-UPP-2T-13.pdf.pdf" download="EVHP-GTO-UPP-2T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/06. Junio/EVHP-GTO-UPP-2T-13.xml.xlsx" download="EVHP-GTO-UPP-2T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/09. Septiembre/EVHP-GTO-UPP-3T-13.pdf.pdf" download="EVHP-GTO-UPP-3T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/09. Septiembre/EVHP-GTO-UPP-3T-13.xml.xlsx" download="EVHP-GTO-UPP-3T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/12. Diciembre/EVHP-GTO-UPP-4T-13.pdf.pdf" download="EVHP-GTO-UPP-4T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/12. Diciembre/EVHP-GTO-UPP-4T-13.xml.xlsx" download="EVHP-GTO-UPP-4T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
             </tr>
             <tr>
                 <td style="width: 60%;">Estado de flujos de efectivo</td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/03. Marzo/EFE-GTO-UPP-1T-13.pdf.pdf" download="EFE-GTO-UPP-1T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/03. Marzo/EFE-GTO-UPP-1T-13.xml.xlsx" download="EFE-GTO-UPP-1T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/06. Junio/EFE-GTO-UPP-2T-13.pdf.pdf" download="EFE-GTO-UPP-2T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/06. Junio/EFE-GTO-UPP-2T-13.xml.xlsx" download="EFE-GTO-UPP-2T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/09. Septiembre/EFE-GTO-UPP-3T-13.pdf.pdf" download="EFE-GTO-UPP-3T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/09. Septiembre/EFE-GTO-UPP-4T-13.xml.xlsx" download="EFE-GTO-UPP-4T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/12. Diciembre/EFE-GTO-UPP-4T-13.pdf.pdf" download="EFE-GTO-UPP-4T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/12. Diciembre/EFE-GTO-UPP-4T-13.xml.xlsx" download="EFE-GTO-UPP-4T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
             </tr>
             <tr>
                 <td style="width: 60%;">Estado analítico del activo</td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/03. Marzo/EAA-GTO-UPP-1T-13.pdf.pdf" download="EAA-GTO-UPP-1T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/03. Marzo/EAA-GTO-UPP-1T-13.xml.xlsx" download="EAA-GTO-UPP-1T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/06. Junio/EAA-GTO-UPP-2T-13.pdf.pdf" download="EAA-GTO-UPP-2T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/06. Junio/EAA-GTO-UPP-2T-13.xml.xlsx" download="EAA-GTO-UPP-2T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/09. Septiembre/EAA-GTO-UPP-3T-13.pdf.pdf" download="EAA-GTO-UPP-3T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/09. Septiembre/EAA-GTO-UPP-3T-13.xml.xlsx" download="EAA-GTO-UPP-3T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/12. Diciembre/EAA-GTO-UPP-4T-13.pdf.pdf" download="EAA-GTO-UPP-4T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/12. Diciembre/EAA-GTO-UPP-4T-13.xml.xlsx" download="EAA-GTO-UPP-4T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
             </tr>
             <tr>
                 <td style="width: 60%;">Estado analítico de la deuda y otros pasivos</td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/03. Marzo/EADOP-GTO-UPP-1T-13.pdf.pdf" download="EADOP-GTO-UPP-1T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/03. Marzo/EADOP-GTO-UPP-1T-13.xml.xlsx" download="EADOP-GTO-UPP-1T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/06. Junio/EADOP-GTO-UPP-2T-13.pdf.pdf" download="EADOP-GTO-UPP-2T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/06. Junio/EADOP-GTO-UPP-2T-13.xml.xlsx" download="EADOP-GTO-UPP-2T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/09. Septiembre/EADOP-GTO-UPP-3T-13.pdf.pdf" download="EADOP-GTO-UPP-3T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/09. Septiembre/EADOP-GTO-UPP-3T-13.xml.xlsx" download="EADOP-GTO-UPP-3T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/12. Diciembre/EADOP-GTO-UPP-4T-13.pdf.pdf" download="EADOP-GTO-UPP-4T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/12. Diciembre/EADOP-GTO-UPP-4T-13.xml.xlsx" download="EADOP-GTO-UPP-4T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
             </tr>
             <tr>
                 <td style="width: 60%;">Informes sobre pasivos contingentes</td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/03. Marzo/IPC-GTO-UPP-1T-13.pdf.pdf" download="IPC-GTO-UPP-1T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/03. Marzo/IPC-GTO-UPP-1T-13.xml.xlsx" download="IPC-GTO-UPP-1T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/06. Junio/IPC-GTO-UPP-2T-13.pdf.pdf" download="IPC-GTO-UPP-2T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/06. Junio/IPC-GTO-UPP-2T-13.xml.xlsx" download="IPC-GTO-UPP-2T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/09. Septiembre/IPC-GTO-UPP-3T-13.pdf.pdf" download="IPC-GTO-UPP-3T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/09. Septiembre/IPC-GTO-UPP-3T-13.xml.xlsx" download="IPC-GTO-UPP-3T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/12. Diciembre/IPC-GTO-UPP-4T-13.pdf.pdf" download="IPC-GTO-UPP-4T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/12. Diciembre/IPC-GTO-UPP-4T-13.xml.xlsx" download="IPC-GTO-UPP-4T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
             </tr>
             <tr>
                 <td style="width: 60%;"><b>Notas a los estados financieros:</b></td>
                 <td colspan="4"></td>
              <tr>
                 <td style="width: 60%;">Desglose y Memoria</td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/03. Marzo/NDM-GTO-UPP-1T-13.pdf.pdf" download="NDM-GTO-UPP-1T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/03. Marzo/NDM-GTO-UPP-1T-13.xml.xlsx" download="NDM-GTO-UPP-1T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/06. Junio/NDM-GTO-UPP-2T-13.pdf.pdf" download="NDM-GTO-UPP-2T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/06. Junio/NDM-GTO-UPP-2T-13.xml.xlsx" download="NDM-GTO-UPP-2T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/09. Septiembre/NDM-GTO-UPP-3T-13.pdf.pdf" download="NDM-GTO-UPP-3T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/09. Septiembre/NDM-GTO-UPP-3T-13.xml.xlsx" download="NDM-GTO-UPP-3T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/12. Diciembre/NDM-GTO-UPP-4T-13.pdf.pdf" download="NDM-GTO-UPP-4T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/12. Diciembre/NDM-GTO-UPP-4T-13.xml.xlsx" download="NDM-GTO-UPP-4T-13.xml.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
             </tr>
             <tr>
                 <td style="width: 60%;">Gestión Administrativa</td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/03. Marzo/NGA-GTO-UPP-1T-13.pdf.pdf" download="NGA-GTO-UPP-1T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/03. Marzo/NGA-GTO-UPP-1T-13.xls.xlsx" download="NGA-GTO-UPP-1T-13.xls.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/06. Junio/NGA-GTO-UPP-2T-13.pdf.pdf" download="NGA-GTO-UPP-2T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/06. Junio/NGA-GTO-UPP-2T-13.xls.xlsx" download="NGA-GTO-UPP-2T-13.xls.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/09. Septiembre/NGA-GTO-UPP-3T-13.pdf.pdf" download="NGA-GTO-UPP-3T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/09. Septiembre/NGA-GTO-UPP-3T-13.xls.xlsx" download="NGA-GTO-UPP-3T-13.xls.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/12. Diciembre/NGA-GTO-UPP-4T-13.pdf.pdf" download="NGA-GTO-UPP-4T-13.pdf.pdf"><img src="./assets/images/pdf.png" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/1. Informacion Contable/12. Diciembre/NGA-GTO-UPP-4T-13.xls.xlsx" download="NGA-GTO-UPP-4T-13.xls.xlsx"><img src="./assets/images/excel.png" /></a>
                 </td>
             </tr>
             </tbody>
         </table>
     </div>
     <p class="tittle-tra tabtit2">Información presupuestaria</p>
     <div class="datagrid" style="width: 90%;">
         <table>
             <thead><tr><th>Documento</th><th>1er. Trim.</th><th>2do. Trim.</th><th>3er. Trim.</th><th>4to. Trim.</th></tr></thead>
             <tbody>
             <tr>
                 <td style="width: 60%;">Estado analítico de ingresos CE</td>
                 <td style="width: 10%;">
                     <img src="./assets/images/pdf.png" title="Archivo PDF" />
                     <img src="./assets/images/excel.png" title="Archivo Excel" />
                 </td>
                 <td style="width: 10%;">
                     <img src="./assets/images/pdf.png" title="Archivo PDF" />
                     <img src="./assets/images/excel.png" title="Archivo Excel" />
                 </td>
                 <td style="width: 10%;">
                     <img src="./assets/images/pdf.png" title="Archivo PDF" />
                     <img src="./assets/images/excel.png" title="Archivo Excel" />
                 </td>
                 <td style="width: 10%;">
                     <img src="./assets/images/pdf.png" title="Archivo PDF" />
                     <img src="./assets/images/excel.png" title="Archivo Excel" />
                 </td>
             </tr>
             <tr>
                 <td style="width: 60%;">Estado analítico de ingresos CFF</td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/03. Marzo/EAIF-GTO-UPP-1T-13.pdf.pdf" download="EAIF-GTO-UPP-1T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/03. Marzo/EAIF-GTO-UPP-1T-13.xls.xlsx" download="EAIF-GTO-UPP-1T-13.xls.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/06. Junio/EAIF-GTO-UPP-2T-13.pdf.pdf" download="EAIF-GTO-UPP-2T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/06. Junio/EAIF-GTO-UPP-2T-13.xls.xlsx" download="EAIF-GTO-UPP-2T-13.xls.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/09. Septiembre/EAIF-GTO-UPP-3T-13.pdf.pdf" download="EAIF-GTO-UPP-3T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/09. Septiembre/EAIF-GTO-UPP-3T-13.xls.xlsx" download="EAIF-GTO-UPP-3T-13.xls.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/12. Diciembre/EAIF-GTO-UPP-4T-13.pdf.pdf" download="EAIF-GTO-UPP-4T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/12. Diciembre/EAIF-GTO-UPP-4T-13.xls.xlsx" download="EAIF-GTO-UPP-4T-13.xls.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
             </tr>
              <tr>
                 <td style="width: 60%;">Estado analítico de ingresos Concepto</td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/03. Marzo/EAIC-GTO-UPP-1T-13.pdf.pdf" download="EAIC-GTO-UPP-1T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/03. Marzo/EAIC-GTO-UPP-1T-13.xls.xlsx" download="EAIC-GTO-UPP-1T-13.xls.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/06. Junio/EAIC-GTO-UPP-2T-13.pdf.pdf" download="EAIC-GTO-UPP-2T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/06. Junio/EAIC-GTO-UPP-2T-13.xls.xlsx" download="EAIC-GTO-UPP-2T-13.xls.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/09. Septiembre/EAIC-GTO-UPP-3T-13.pdf.pdf" download="EAIC-GTO-UPP-3T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/09. Septiembre/EAIC-GTO-UPP-3T-13.xls.xlsx" download="EAIC-GTO-UPP-3T-13.xls.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/12. Diciembre/EAIC-GTO-UPP-4T-13.pdf.pdf" download="EAIC-GTO-UPP-4T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/12. Diciembre/EAIC-GTO-UPP-4T-13.xls.xlsx" download="EAIC-GTO-UPP-4T-13.xls.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
             </tr>
             <tr>
                 <td style="width: 60%;">Estado analítico del ejercicio del presupuesto de egresos (Administrativa)</td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/03. Marzo/EAEPEA-GTO-UPP-1T-13.pdf.pdf" download="EAEPEA-GTO-UPP-1T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/03. Marzo/EAEPEA-GTO-UPP-1T-13.xls.xlsx" download="EAEPEA-GTO-UPP-1T-13.xls.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/06. Junio/EAEPEA-GTO-UPP-2T-13.pdf.pdf" download="EAEPEA-GTO-UPP-2T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/06. Junio/EAEPEA-GTO-UPP-2T-13.xls.xlsx" download="EAEPEA-GTO-UPP-2T-13.xls.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/09. Septiembre/EAEPEA-GTO-UPP-3T-13.pdf.pdf" download="EAEPEA-GTO-UPP-3T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/09. Septiembre/EAEPEA-GTO-UPP-3T-13.xls.xlsx" download="EAEPEA-GTO-UPP-3T-13.xls.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/12. Diciembre/EAEPEA-GTO-UPP-4T-13.pdf.pdf" download="EAEPEA-GTO-UPP-4T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/12. Diciembre/EAEPEA-GTO-UPP-4T-13.xls.xlsx" download="EAEPEA-GTO-UPP-4T-13.xls.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
             </tr>
             <tr>
                 <td style="width: 60%;">Estado analítico del ejercicio del presupuesto de egresos  (Económica y por Objeto del Gasto) </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/03. Marzo/EAEPEE-GTO-UPP-1T-13.pdf.pdf" download="EAEPEE-GTO-UPP-1T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/03. Marzo/EAEPEE-GTO-UPP-1T-13.xls.xlsx" download="EAEPEE-GTO-UPP-1T-13.xls.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/06. Junio/EAEPEE-GTO-UPP-2T-13.pdf.pdf" download="EAEPEE-GTO-UPP-2T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/06. Junio/EAEPEE-GTO-UPP-2T-13.xls.xlsx" download="EAEPEE-GTO-UPP-2T-13.xls.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/09. Septiembre/EAEPEE-GTO-UPP-3T-13.pdf.pdf" download="EAEPEE-GTO-UPP-3T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/09. Septiembre/EAEPEE-GTO-UPP-3T-13.xls.xlsx" download="EAEPEE-GTO-UPP-3T-13.xls.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/12. Diciembre/EAEPEE-GTO-UPP-4T-13.pdf.pdf" download="EAEPEE-GTO-UPP-4T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/12. Diciembre/EAEPEE-GTO-UPP-4T-13.xls.xlsx" download="EAEPEE-GTO-UPP-4T-13.xls.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
             </tr>
             <tr>
                 <td style="width: 60%;">Estado analítico del ejercicio del presupuesto de egresos  (Funcional -Programática)</td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/03. Marzo/EAEPEF-GTO-UPP-1T-13.pdf.pdf" download="EAEPEF-GTO-UPP-1T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/03. Marzo/EAEPEF-GTO-UPP-1T-13.xls.xlsx" download="EAEPEF-GTO-UPP-1T-13.xls.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/06. Junio/EAEPEF-GTO-UPP-2T-13.pdf.pdf" download="EAEPEF-GTO-UPP-2T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/06. Junio/EAEPEF-GTO-UPP-2T-13.xls.xlsx" download="EAEPEF-GTO-UPP-2T-13.xls.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/09. Septiembre/EAEPEF-GTO-UPP-3T-13.pdf.pdf" download="EAEPEF-GTO-UPP-3T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/09. Septiembre/EAEPEF-GTO-UPP-3T-13.xls.xlsx" download="EAEPEF-GTO-UPP-3T-13.xls.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/12. Diciembre/EAEPEF-GTO-UPP-4T-13.pdf.pdf" download="EAEPEF-GTO-UPP-4T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/2. Informacion Presupuestaria/12. Diciembre/EAEPEF-GTO-UPP-4T-13.xls.xlsx" download="EAEPEF-GTO-UPP-4T-13.xls.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
             </tr>
             </tbody>
         </table>
     </div>
   <p class="tittle-tra tabtit2">Inventario de bienes</p>
     <div class="datagrid" style="width: 90%;">
         <table>
             <thead><tr><th>Documento</th><th>1er. Trim.</th><th>2do. Trim.</th><th>3er. Trim.</th><th>4to. Trim.</th></tr></thead>
             <tbody>
             <tr>
                 <td style="width: 60%;">Relación de Bienes Muebles</td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/4. Inventario de Bienes/03. Marzo/RBM-GTO-UPP-1T-13.xlsx" download="RBM-GTO-UPP-1T-13.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/4. Inventario de Bienes/06. Junio/RBM-GTO-UPP-2T-13.xlsx" download="RBM-GTO-UPP-2T-13.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/4. Inventario de Bienes/09. Septiembre/RBM-GTO-UPP-3T-13.xlsx" download="RBM-GTO-UPP-3T-13.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/4. Inventario de Bienes/12. Diciembre/RBM-GTO-UPP-4T-13.xlsx" download="RBM-GTO-UPP-4T-13.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
             </tr>
             <tr>
                 <td style="width: 60%;">Relación de Bienes Inmuebles</td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/4. Inventario de Bienes/03. Marzo/RBI-GTO-UPP-1T-13.xlsx" download="RBI-GTO-UPP-1T-13.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/4. Inventario de Bienes/06. Junio/RBI-GTO-UPP-2T-13.xlsx" download="RBI-GTO-UPP-2T-13.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/4. Inventario de Bienes/09. Septiembre/RBI-GTO-UPP-3T-13.xlsx" download="RBI-GTO-UPP-3T-13.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/4. Inventario de Bienes/12. Diciembre/RBI-GTO-UPP-4T-13.xlsx" download="RBI-GTO-UPP-4T-13.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
             </tr>
         </tbody>
         </table>
     </div>
      <p class="tittle-tra tabtit2">Ejercicio presupuestario</p>
     <div class="datagrid" style="width: 90%;">
         <table>
             <thead><tr><th>Documento</th><th>1er. Trim.</th><th>2do. Trim.</th><th>3er. Trim.</th><th>4to. Trim.</th></tr></thead>
             <tbody>
             <tr>
                 <td style="width: 60%;">Ayudas y Subsidios</td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/5. Ejercicio Presupuestario/12. Diciembre/AYS-GTO-UPP-4T-13.pdf.pdf" download="AYS-GTO-UPP-4T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/5. Ejercicio Presupuestario/12. Diciembre/AYS-GTO-UPP-4T-13.xls.xlsx" download="AYS-GTO-UPP-4T-13.xls.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
             </tr>
             <tr>
                 <td style="width: 60%;">Programas con recursos Federales por orden de Gobierno</td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">
                     <img src="./assets/images/pdf.png" title="Archivo PDF" />
                     <img src="./assets/images/excel.png" title="Archivo Excel" />
                 </td>
             </tr>
             <tr>
                 <td style="width: 60%;">Cuentas Bancarias Productivas Federales</td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/5. Ejercicio Presupuestario/12. Diciembre/CBP-GTO-UPP-4T-13.pdf.pdf" download="CBP-GTO-UPP-4T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/5. Ejercicio Presupuestario/12. Diciembre/CBP-GTO-UPP-4T-13.xls.xlsx" download="CBP-GTO-UPP-4T-13.xls.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
             </tr>
             <tr>
                 <td style="width: 60%;">Aportación Federal para la Salud</td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">
                     <img src="./assets/images/pdf.png" title="Archivo PDF" />
                     <img src="./assets/images/excel.png" title="Archivo Excel" />
                 </td>
             </tr>
             <tr>
                 <td style="width: 60%;">Aportación Fortalecimiento Municipios (FORTAMUN)</td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">
                     <img src="./assets/images/pdf.png" title="Archivo PDF" />
                     <img src="./assets/images/excel.png" title="Archivo Excel" />
                 </td>
             </tr>
             <tr>
                 <td style="width: 60%;">Aportación Federal para Seguridad Pública</td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">
                     <img src="./assets/images/pdf.png" title="Archivo PDF" />
                     <img src="./assets/images/excel.png" title="Archivo Excel" />
                 </td>
             </tr>
             <tr>
                 <td style="width: 60%;">Aportación para la educación</td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">
                     <img src="./assets/images/pdf.png" title="Archivo PDF" />
                     <img src="./assets/images/excel.png" title="Archivo Excel" />
                 </td>
             </tr>
             <tr>
                 <td style="width: 60%;">Obligaciones con Fondos Federales</td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">
                     <img src="./assets/images/pdf.png" title="Archivo PDF" />
                     <img src="./assets/images/excel.png" title="Archivo Excel" />
                 </td>
             </tr>
             <tr>
                 <td style="width: 60%;">Ejercicio y Destino de Gasto Federalizado</td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">
                     <a href="docs/2013/2. Informacion Trimestral/5. Ejercicio Presupuestario/12. Diciembre/EYDGF-GTO-UPP-4T-13.pdf.pdf" download="EYDGF-GTO-UPP-4T-13.pdf.pdf"><img src="./assets/images/pdf.png" title="Archivo PDF" /></a>
                     <a href="docs/2013/2. Informacion Trimestral/5. Ejercicio Presupuestario/12. Diciembre/EYDGF-GTO-UPP-4T-13.xls.xlsx" download="EYDGF-GTO-UPP-4T-13.xls.xlsx"><img src="./assets/images/excel.png" title="Archivo Excel" /></a>
                 </td>
             </tr>
             <tr>
                 <td style="width: 60%;">Evaluación de Recursos Federales</td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">

                 </td>
                 <td style="width: 10%;">
                     <img src="./assets/images/pdf.png" title="Archivo PDF" />
                     <img src="./assets/images/excel.png" title="Archivo Excel" />
                 </td>
             </tr>
         </tbody>
         </table>
     </div>
  </div>
      </article>
 </div>
 <div class="widgets">
  <div class="widget-1">
          <h1 class="seccion">Destacados</h1>
            <ul class="enlaces">
              <li><a href="#">Inclusión Laboral</a></li>
                <li><a href="#">Programa Audiológico y de Lenguaje</a></li>
                <li><a href="#">Centros de Rehabilitación</a></li>
                <li><a href="#">Credencialización</a></li>
                <li><a href="#">Enlaces con otras instituciones</a></li>
                <li><a href="#">Transporte público adaptado</a></li>
            </ul>
        </div>

        <div class="widget-1 fb-w">
        <div class="fb-page" data-href="https://www.facebook.com/gobiernoguanajuato/" data-tabs="timeline" data-height="380" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/gobiernoguanajuato/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/gobiernoguanajuato/">Guanajuato Gobierno del Estado</a></blockquote></div>
        </div>
 </div>
</div>
