
<div class="wrapper grid3" style="margin-top:-5em; width:50%">
<br /><br />
Fecha de la última actualización de la Información: {{dateUpdate}}
<br /><br />
Responsables de la publicación de la Información:
<br />

<div class="wrapper grid4">
    <div class="col-6">
      C.P Luis Adrián Dominguez Zavala <br />
      Secretario Administrativo <br />
      Tel. 469 692 6000 Ext. 105
    </div>
    <div class="col-6">
      C.P Yasmín del Carmen Tena Ramírez <br />
      Jefe del Departamento de Recursos Financieros<br />
      Tel. 469 692 6000 Ext. 113
    </div>
    <!-- <div class="col-6">
      C.P xxx xxxx xxxxx <br />
      Coordinador de Presupuestos <br />
      Tel. 00 0 00 00 Ext. 0000
    </div> -->
</div>
<u>Enlaces:</u>
<div style="align:left;width:100%;">
  <br />
   <a href="http://www.conac.gob.mx/"> <img src="./assets/images/external-link.png" title="Liga" />Consejo Nacional de Armonización Contable</a>
   <br />
   <a href="https://caceg.guanajuato.gob.mx/"> <img src="./assets/images/external-link.png" title="Liga" />Consejo de Armonización Contable del Estado de Guanajuato</a>
</div>
</div>
