<div class="wrapper-c1">

 <!-- Contenido -->
 <div class="wrapper conten">
     <article class="formato-contenidos">

     <h2>Información Anual</h2>
 <h4>Transparencia y Difusión de la Información Financiera LGCG</h4>
     <p class="tittle-tra tabtit2">Ingreso</p>

     <div class="wrapper grid3">
        <div class="datagrid" style="width: 70%;">
            <table>
                <thead><tr><th>Documento</th><th>Descarga</th></tr></thead>
                <tbody>
                <tr>
                    <td style="width: 80%;">Iniciativa de Ingresos</td>
                    <td style="width: 20%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 80%;">Información Adicional a la Iniciativa de Ingresos</td>
                    <td style="width: 20%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF"/>
                        <img src="./assets/images/excel.png" title="Archivo Excel" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 80%;">Dictámenes Acuerdo y Actas </td>
                    <td style="width: 20%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 80%;">Ley de Ingresos </td>
                    <td style="width: 20%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 80%;">Calendario de Ingresos</td>
                    <td style="width: 20%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" title="Archivo Excel" />
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
     <p class="tittle-tra tabtit2">Egreso</p>
        <div class="datagrid" style="width: 70%;">
            <table>
                <thead><tr><th>Documento</th><th>Descarga</th></tr></thead>
                <tbody>
                <tr>
                    <td style="width: 80%;">Proyecto de presupuesto de egresos</td>
                    <td style="width: 20%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 80%;">Información Adicional al proyecto de presupuesto de egresos</td>
                    <td style="width: 20%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 80%;">Dictámenes Acuerdo y Actas </td>
                    <td style="width: 20%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 80%;">Presupuesto de Egresos</td>
                    <td style="width: 20%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 80%;">Calendario de Egreso</td>
                    <td style="width: 20%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
      <tr>
                    <td style="width: 80%;">Presupuesto Ciudadano</td>
                    <td style="width: 20%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" title="Archivo PDF" />
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

  </div>
     <h2>Información Trimestral</h2>
     <div class="wrapper grid3">
        <p class="tittle-tra tabtit2">Información contable</p>
        <div class="datagrid" style="width: 90%;">
            <table>
                <thead><tr><th>Documento</th><th>1er. Trim.</th><th>2do. Trim.</th><th>3er. Trim.</th><th>4to. Trim.</th></tr></thead>
                <tbody>
                <tr>
                    <td style="width: 60%;">Estado de actividades/Resultados</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">Estado de situación financiera</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">Estado de variación en la hacienda pública</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">Estado de cambios en la situación financiera</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">Estado de flujos de efectivo</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">Estado analítico del activo</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">Estado analítico de la deuda y otros pasivos</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">Informes sobre pasivos contingentes</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;"><b>Notas a los estados financieros:</b></td>
                    <td colspan="4"></td>
                 <tr>
                    <td style="width: 60%;">Desglose y Memoria</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">Gestión Administrativa</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <p class="tittle-tra tabtit2">Información presupuestaria</p>
        <div class="datagrid" style="width: 90%;">
            <table>
                <thead><tr><th>Documento</th><th>1er. Trim.</th><th>2do. Trim.</th><th>3er. Trim.</th><th>4to. Trim.</th></tr></thead>
                <tbody>
                <tr>
                    <td style="width: 60%;">Estado analítico de ingresos CE</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png"  title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png"  title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">Estado analítico de ingresos CFF</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png"  title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png"  title="Archivo PDF" />
                        <img src="./assets/images/excel.png"  title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                 <tr>
                    <td style="width: 60%;">Estado analítico de ingresos Concepto</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png"  title="Archivo PDF" />
                        <img src="./assets/images/excel.png"  title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png"  title="Archivo PDF" />
                        <img src="./assets/images/excel.png"  title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">Estado analítico del ejercicio del presupuesto de egresos (Administrativa)</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png"  title="Archivo PDF" />
                        <img src="./assets/images/excel.png"  title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png"  title="Archivo PDF" />
                        <img src="./assets/images/excel.png"  title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">Estado analítico del ejercicio del presupuesto de egresos  (Económica) </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png"  title="Archivo PDF" />
                        <img src="./assets/images/excel.png"  title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png"  title="Archivo PDF" />
                        <img src="./assets/images/excel.png"  title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">Estado analítico del ejercicio del presupuesto de egresos  (COG)</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png"  title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png"  title="Archivo PDF" />
                        <img src="./assets/images/excel.png"  title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">Estado analítico del ejercicio del presupuesto de egresos  (Funcional) </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png"  title="Archivo PDF" />
                        <img src="./assets/images/excel.png"  title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png"  title="Archivo PDF" />
                        <img src="./assets/images/excel.png"  title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">Endeudamiento neto</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">Intereses de la deuda</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">Un flujo de fondos</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <br />
      <p class="tittle-tra tabtit2">Inventario de bienes</p>
        <div class="datagrid" style="width: 90%;">
            <table>
                <thead><tr><th>Documento</th><th>1er. Trim.</th><th>2do. Trim.</th><th>3er. Trim.</th><th>4to. Trim.</th></tr></thead>
                <tbody>
                <tr>
                    <td style="width: 60%;">Relación de Bienes Muebles</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">Relación de Bienes Inmuebles</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
         <p class="tittle-tra tabtit2">Ejercicio presupuestario</p>
        <div class="datagrid" style="width: 90%;">
            <table>
                <thead><tr><th>Documento</th><th>1er. Trim.</th><th>2do. Trim.</th><th>3er. Trim.</th><th>4to. Trim.</th></tr></thead>
                <tbody>
                <tr>
                    <td style="width: 60%;">Ayudas y Subsidios</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo Excel" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo Excel" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">Programas con recursos Federales por orden de Gobierno</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo Excel" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo Excel" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">Cuentas Bancarias Productivas Federales</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo Excel" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo Excel" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">Aportación Federal para la Salud</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo Excel" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo Excel" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
      <tr>
                    <td style="width: 60%;">Aportación a la Infraestructura Social (FAIS)</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo Excel" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo Excel" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">Aportación Fortalecimiento Municipios (FORTAMUN)</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo Excel" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo Excel" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">Aportación Federal para Seguridad Pública</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo Excel" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo Excel" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">Aportación para la Educación Tecnológica y de Adultos  (FAETA)</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo Excel" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo Excel" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">Obligaciones con Fondos Federales</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo Excel" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo Excel" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">Ejercicio y Destino de Gasto Federalizado</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo Excel" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo Excel" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">Evaluación de Recursos Federales</td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo PDF" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo Excel" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                    <td style="width: 10%;">
                        <img src="./assets/images/pdf.png" title="Archivo Excel" />
                        <img src="./assets/images/excel.png" title="Archivo Excel" />
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
  
     </div>
 <h2>Cuenta Pública</h2>
 <div class="wrapper grid3">
        <div class="datagrid" style="width: 70%;">
            <table>
                <thead><tr><th>Nombre</th><th>Ir a</th></tr></thead>
                <tbody>
                <tr>
                    <td style="width: 80%;">Cuenta Pública</td>
                    <td style="width: 20%;">
                      <a href="http://transparencia.guanajuato.gob.mx//transparencia/informacion_publica_cuenta_publica.php#treeview10"> <img src="./assets/images/external-link.png" title="Liga" /></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
  </div>
     </article>
 </div>
 <div class="widgets">
  <div class="widget-1">
          <h1 class="seccion">Destacados</h1>
            <ul class="enlaces">
              <li><a href="#">Inclusión Laboral</a></li>
                <li><a href="#">Programa Audiológico y de Lenguaje</a></li>
                <li><a href="#">Centros de Rehabilitación</a></li>
                <li><a href="#">Credencialización</a></li>
                <li><a href="#">Enlaces con otras instituciones</a></li>
                <li><a href="#">Transporte público adaptado</a></li>
            </ul>
        </div>

        <div class="widget-1 fb-w">
        <div class="fb-page" data-href="https://www.facebook.com/gobiernoguanajuato/" data-tabs="timeline" data-height="380" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/gobiernoguanajuato/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/gobiernoguanajuato/">Guanajuato Gobierno del Estado</a></blockquote></div>
        </div>
 </div>
</div>
